@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
	input {
		@apply rounded-md;
		@apply border-gray-300;
		@apply shadow-sm;
		@apply focus:border-indigo-300;
		@apply focus:ring;
		@apply focus:ring-indigo-200;
		@apply focus:ring-opacity-50;
	}
}